/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --text-font-weight: var(--font-wght-lght);
  --page-background: var(--wht-clr, #ffffff);
  --main-color: var(--blk-clr,#000000);
  --main-gradient-color: var(--gray-3d-clr, #d3d3d3);
  --first-gradient-color: var(--gray-e7-clr, #e7e7e7);
  --second-gradient-color: var(--scnd-gr-clr-lght, #1a1a1a);
  --title-wght: var(--title-wght-lght);
  --button-text-color: var(--page-background);
}

:root.theme-dark {
  --text-font-weight: var(--font-wght-drk);
  --page-background: var(--blk-clr, #000);
  --main-color: var(--gr-clr, #00cc14);
  --main-gradient-color: var(--blk-clr, #000);
  --first-gradient-color: var(--gr-7-clr, #007f0c);
  --second-gradient-color: var(--scnd-gr-clr-drk, #004306);
  --title-wght: var(--title-wght-drk);
  --button-text-color: var(--main-color, #00cc14);
}

@media (prefers-color-scheme: light) {
  :root {
    --text-font-weight: var(--font-wght-lght);
    --page-background: var(--wht-clr, #ffffff);
    --main-color: var(--blk-clr,#000000);
    --main-gradient-color: var(--gray-3d-clr, #d3d3d3);
    --first-gradient-color: var(--gray-e7-clr, #e7e7e7);
    --second-gradient-color: var(--scnd-gr-clr-lght, #1a1a1a);
    --title-wght: var(--title-wght-lght);
    --button-text-color: var(--page-background);
}
}